.fame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: 600;
  font-family: emoji;
  text-align: left;
  padding: 20px;
  font-size: 2em;
  height: 160px;
  width: 160px;
  text-decoration: underline;
  box-shadow: 15px 6px 80px -10px #838383ee, 15px 17px 40px -10px #868686ee;
}