.name3 {
  position: relative;
  display: inline-block;
  font-style: italic;
  width: 200px;
  height: 52px;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: .4px;
  font-size: 40px;
  line-height: 46px;
  transform-origin: center;
  background-clip: text;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "Fall Zhang";
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: .4px;
    left: 0px;
    font-size: 40px;
    line-height: 46px;
    background-clip: text;
    text-align: center;
    width: 100%;
    font-weight: 600;
    z-index: 10;
  }

  &::before {
    position: absolute;
    content: "拥有选择 获取自由";
    -webkit-text-stroke-width: 0;
    color: hsl(281, 70%, 53%);
    letter-spacing: 14px;
    padding-left: 7px;
    width: 140%;
    margin-left: -20%;
    line-height: 46px;
    font-size: 12px;
    left: 0px;
    z-index: 9;
    text-align: center;
  }
}